absl-py==0.12.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
async-timeout==3.0.1
attrs==21.2.0
blessings==1.7
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
colorful==0.5.4
filelock==3.0.12
future==0.18.2
glcontext==2.3.4
glfw==1.12.0
google-api-core==1.28.0
google-auth==1.30.1
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.38.0
gym==0.18.3
gym-super-mario-bros==7.3.2
gym3==0.3.3
hiredis==2.0.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.3.0
importlib-metadata==4.3.1
jsonschema==3.2.0
Markdown==3.3.4
mlagents-envs==0.26.0
moderngl==5.6.4
msgpack==1.0.2
multidict==5.1.0
nes-py==8.1.6
numpy==1.20.3
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.13
opencensus-context==0.1.2
opencv-python==4.5.2.52
packaging==20.9
Pillow==8.2.0
procgen==0.10.4
prometheus-client==0.10.1
protobuf==3.17.1
psutil==5.8.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygifsicle==1.0.4
pyglet==1.5.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytz==2021.1
PyYAML==5.4.1
ray==1.3.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.6.3
six==1.16.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
torch==1.8.1
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3==1.26.5
Werkzeug==2.0.1
yarl==1.6.3
zipp==3.4.1
